    // Importando fuentes
    @font-face {
        font-family: 'AvenirMedium';
        src: url('../fonts/Avenir/AvenirLTStd-Medium.otf') format('otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'AvenirBlack';
        src: url('../fonts/Avenir/AvenirLTStd-Black.otf') format('otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'AvenirHeavy';
        src: url('../fonts/Avenir/AvenirLTStd-Heavy.otf') format('otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'AvenirLight';
        src: url('../fonts/Avenir/AvenirLTStd-Light.otf') format('otf');
        font-weight: normal;
        font-style: normal;
    } // Definiendo Helpers
    @mixin helper($color) {
        border: solid 1px $color;
    } // definiendo colores
    $azul1: #1d4064;
    $azul2: #0e263f;
    $azul3: #15365b;
    $grisFondo: #f5f5f5;
    $grisLetras: #858585; // definiendo mixins
    @mixin h1Sass {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 3.5rem;
        color: #0e263f;
        letter-spacing: 0.2rem;
    }

    @mixin h2Sass {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #0e263f;
    }

    @mixin h3Sass {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        color: #0e263f;
        line-height: 1.375rem;
    }

    @mixin pSass {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size: 0.7rem;
        font-weight: lighter;
        color: #858585;
        line-height: 1rem;
    }

    @mixin menu {
        font-family: Helvetica, sans-serif;
        font-size: 1.12rem;
        color: white;
        font-weight: bold;
    }

    body {
        font-family: 'Nunito', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    section {
        padding: 3rem 0rem;
    }

    h1 {
        @include h1Sass;
    }

    h2 {
        @include h2Sass;
    }

    h3 {
        @include h3Sass;
    }

    p {
        @include pSass;
    } // Estilos secciones
    .nav {
        background-color: $azul2;
        .nav-link{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    #sectionPrincipal {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c233b+0,1e3c5a+100 */
        background: #0c233b;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c233b', endColorstr='#1e3c5a', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    } // finalizando estilos #sectionPrincipal
    #sectionApp {
        // @include helper(red);
        .row {
            // @include helper(blue);
            .col-sm-4 {
                // @include helper(green);
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                .imagen {
                    height: 8rem;
                    width: 8rem;
                    margin: 1rem 0rem;
                    border-radius: 50%;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c233b+0,1e3c5a+100 */
                    background: #0c233b;
                    /* Old browsers */
                    background: -moz-linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                    /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                    /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c233b', endColorstr='#1e3c5a', GradientType=1);
                    /* IE6-9 fallback on horizontal gradient */
                }
                .separador {
                    width: 50%;
                    height: 0.3rem;
                    padding: 0;
                    margin: 0 auto;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+33,0c233b+33,15365b+64,ffffff+72 */
                    background: #ffffff;
                    /* Old browsers */
                    background: -moz-linear-gradient(45deg, #ffffff 33%, #0c233b 33%, #15365b 64%, #ffffff 72%);
                    /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #ffffff 33%, #0c233b 33%, #15365b 64%, #ffffff 72%);
                    /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #ffffff 33%, #0c233b 33%, #15365b 64%, #ffffff 72%);
                    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
                    /* IE6-9 fallback on horizontal gradient */
                }
            }
        }
    } // finalizando estilos #sectionApp
    #sectionCaracteristicas {
        // @include helper(red);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d3d3+15,f5f5f5+99 */
        background: #d3d3d3;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #d3d3d3 15%, #f5f5f5 99%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #d3d3d3 15%, #f5f5f5 99%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #d3d3d3 15%, #f5f5f5 99%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#f5f5f5', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        .row {
            // @include helper(blue);
            h1 {
                margin: 2rem;
            }
            .caracteristicasIzquierdo {
                // @include helper(green);
                .miniContainer {
                    // @include helper(yellow);
                    display: flex;
                    justify-content: space-between;
                    margin: 1rem 0rem;
                    .col-md-8 {
                        // @include helper(blue);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .col-md-4 {
                        // @include helper(blue);
                        .imagen {
                            height: 8rem;
                            width: 8rem;
                            margin: 0rem 0rem;
                            border-radius: 50%;
                            background: #0c233b;
                            /* Old browsers */
                            background: -moz-linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                            /* FF3.6-15 */
                            background: -webkit-linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                            /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c233b', endColorstr='#1e3c5a', GradientType=1);
                            /* IE6-9 fallback on horizontal gradient */
                        }
                    }
                }
            }
            .caracteristicasDerecho {
                // @include helper(green);
                .miniContainer {
                    // @include helper(yellow);
                    display: flex;
                    justify-content: space-between;
                    margin: 1rem 0rem;
                    .col-md-8 {
                        // @include helper(blue);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .col-md-4 {
                        // @include helper(blue);
                        .imagen {
                            height: 8rem;
                            width: 8rem;
                            margin: 0rem 0rem;
                            border-radius: 50%;
                            background: #0c233b;
                            /* Old browsers */
                            background: -moz-linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                            /* FF3.6-15 */
                            background: -webkit-linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                            /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(45deg, #0c233b 0%, #1e3c5a 100%);
                            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c233b', endColorstr='#1e3c5a', GradientType=1);
                            /* IE6-9 fallback on horizontal gradient */
                        }
                    }
                }
            }
        }
        .row:nth-child(2) {
            .caracteristicasImagen {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    } // finalizando sectioApp
    #sectionPantallas {
        .row:nth-child(1) {
            // @include helper(red);
            margin: 2rem 0rem;
        }
    } // finalizando sectioPantallas
    #sectionParallax {
        background: url('../img/ipadApp.jpg') fixed no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .row {
            // @include helper(green);
            .col-sm-12 {
                // @include helper(blue);
                h1 {
                    color: white;
                    text-shadow: 0px 7px 8px black;
                }
            }
        }
    } // finalizando Parallax
    #sectionDescargar {
        // @include helper(red);
        padding-bottom: 0rem;
        .row:nth-child(1) {
            // @include helper(green);
            h1 {
                margin: 2rem 0rem;
            }
        }
        .row:nth-child(2) {
            .col-md-6:nth-child(1) {
                // @include helper(blue);
                box-shadow: inset -7px -7px 12px -2px rgba(0, 0, 0, 0.171);
                z-index: 1;
            }
            .col-md-6:nth-child(2) {
                background: url('../img/DESCAR~1.PNG') left bottom no-repeat;
                background-size: cover;
                background-color: $grisFondo;
                z-index: 2;
                .row:nth-child(1) {
                    h3 {
                        margin-top: 5rem;
                        font-weight: 700;
                        font-size: 2rem;
                    }
                }
                .row:nth-child(2) {
                    // @include helper(red);
                    margin-top: 2rem;
                    .col-sm-6 {
                        // @include helper(purple);
                    }
                    h3 {
                        width: 70%;
                        margin: 0 auto;
                        padding: 1rem;
                        border: solid 2px $azul2;
                        border-radius: 10rem;
                        font-weight: 700;
                        font-size: 1rem;
                    }
                }
            }
        }
    } // Finalizando #sectionDescargar
    #sectionContacto {
        // @include helper(red);
        background-color: $azul1;
        .row:nth-child(1) {
            // @include helper(red);
            h1,
            h3 {
                color: whitesmoke;
            }
        }
        .row:nth-child(2) {
            // @include helper(red);
            form {
                .form-group {
                    .col-12 {
                        input,
                        textarea {
                            background-color: $azul1;
                            border: solid 3px whitesmoke;
                            border-radius: 1rem;
                        }
                        input::placeholder,
                        textarea::placeholder {
                            color: rgba(245, 245, 245, 0.3) !important;
                        }
                        small {
                            color: rgba(245, 245, 245, 0.7) !important;
                        }
                        button {
                            padding: 0rem 3rem;
                            background-color: whitesmoke;
                            border: solid 3px white;
                            font-weight: 700;
                            color: $azul3;
                        }
                    }
                }
            }
        }
    }